.main-footer__text {
  color: #000;
  text-align: center;
  font-family: PT Sans;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 123.81% */
  text-transform: uppercase;
}

.main-footer__socials {
  display: flex;
  gap: 6px;
  justify-content: center;
  margin-bottom: 20px;
  @media (min-width: $table-size){
    margin: 0;
  }
}

.main-footer__link {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #81b3d2;
  width: 48px;
  height: 48px;
}

.main-footer {
  @media (min-width: $table-size) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 36px 45px;

  }
}

.point-footer {
  color: #000;
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: fit-content;
  gap: 7px;
  @media (min-width: $table-size){
    margin: 0;
  }
}
.point-footer__text {
  text-align: center;
  font-family: PT Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 150% */
  text-transform: uppercase;
}
