.point__title {
  color: #fff;
  text-align: center;
  font-family: PT Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 144.444% */
  text-transform: uppercase;
}

.point__text-container {
  background: #81b3d2;
  padding: 50px 19px 40px;
  color: black;
  box-sizing: border-box;
  height: 100%;

  &--tablet {
    @media (min-width: $table-size) {
      order: 2;
    }
  }
}

.point__text {
  color:white;
  text-align: center;
  font-family: PT Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 150% */
  text-transform: uppercase;
}

.point {
  position: relative;
  &:first-of-type {
    &::before {
   @media(max-width:$max-mobila-size) {
  
      @include default-pseudo-element(100vw, 37px);
     background: url(./../../public/img/Group\ 4.svg);
     left: 0;
     right: 0;
     background-size: cover;
    }
   } 
  }
  &--gray {
    background: #eee;
    @media (min-width: $table-size){
      padding: 42px 33px 63px;
    }
    & .point__text {
      color: #333333;
    }

    & .points__title {
      color: #000;
      @media(min-width: $table-size){
       max-width: 130px;
      }
    }
    & .point__text-container {
      background-color: #EEEEEE;
      background: none;
      border-bottom: 1px solid #d6d6d6;
      padding-left: 0;
      padding-right: 0;
      margin: 0 19px;
      @media (min-width: $table-size){
        border-bottom: none;
       padding: 0;
        
      }
    }
  }
  
}

.point__picture {
  width:100vw;
  display: block;
  @media (min-width: $table-size) {
    height: 100%;
    width: auto;
  }
}

.points__title {
  color: #fff;
  text-align: center;
  font-family: PT Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 144.444% */
  text-transform: uppercase;
}

.point__container {
  display: flex;
  margin:0 auto;
  
  align-items: center;
  
  @media (min-width: $table-size) {
    display: grid;
    grid-template-columns: 1fr 2fr;
   
    
  }
  &--tablet {
    @media (min-width: $table-size) {
      grid-template-columns: 2fr 1fr;
      & .point__text-container{
        order: 5;
      }
    }
  }
}

.point__gray-container{
  @media (min-width: $table-size){
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

  }
}

